.row
  //- For specific job post Application
  .small-12.medium-8.large-8.column#ads
    .header.row
      a.small-1.medium-1.large-1.column.back_btn.text-center(ng-href="/")
        .icon-angle-left
      .small-4.medium-3.large-3.column
        figure
          a(ng-href="http://www.meditab.com")
            img(src="/images/meditab.png", alt="meditab")
      .small-7.medium-8.large-8.column.text-right
        #options.row
          .small-12.column
            #select.right(ng-mouseover="showCompanies = true", ng-mouseleave="showCompanies = false") {{active.company.name}} - {{active.company.address}}
              .icon-down-open-big.right
              ul
                li.slide-down(ng-repeat="c in companies", ng-show="showCompanies", ng-click="company.assign(c)")
                  | {{c.name}}
    ul#ads_info
      li
        .title {{active.ad.position.title}}
        .description {{active.ad.position.description}}
        .details
          h6(ng-show="active.ad.position.responsibility.length") Responsibility:
          ul
            li(ng-repeat="r in active.ad.position.responsibility") {{r.responsibility}}
          h6(ng-show="active.ad.position.education.length") Educational Requirements:
          ul
            li(ng-repeat="e in active.ad.position.education") {{e.education}}
          h6(ng-show="active.ad.position.skill.length") Skill Requirements:
          ul
            li(ng-repeat="s in active.ad.position.skill") {{s.skill}}
          h6(ng-show="active.ad.position.other.length") Other Requirements:
          ul
            li(ng-repeat="o in active.ad.position.other") {{o.other}}
          h6.bold(ng-show="active.ad.position.note") Note:
          .note {{active.ad.position.note}}
  .small-12.medium-4.large-4.column#form
    h5 Apply Now!
    p
      | Provide the necessary information and upload your updated résumé.
    p.question
      | {{active.ad.question}}
    textarea(rows="4", ng-model="active.data.question.answer", maxlength="140", ng-trim="false", placeholder="Answer here...")
    p.characters {{active.data.question.answer.length || 0}} / 140
    input(type="text", ng-model="active.data.firstName", placeholder="First Name")
    input(type="text", ng-model="active.data.lastName", placeholder="Last Name")
    input(type="email", ng-model="active.data.email", placeholder="E-mail Address")
    input(type="text", ng-model="active.data.mobileNumber", placeholder="Contact Number")

    fileuploader(url="/file/upload", files="active.data.resume", after-upload="active.data.resume")

    input(type="text", ng-model="active.data.expectedStart", placeholder="How soon can you start?")
    button.button.round.expand.submit(ng-click="active.save()") Apply

    p.text-center
      | By clicking Submit, you are agreeing to the terms and conditions set by Meditab, Inc.